*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container{
  max-width: 100%;
  width: 800px;
  display: block;
  margin: 100px auto;
  padding: 40px;
  background: #fff;
}

h1{
  margin-bottom: 20px;
}

.question{
  margin: 20px 0;
  color: hsl(238, 29%, 16%);
  cursor: pointer;
  font-size: 1.5rem;
}

.question:hover{
  color: hsl(14, 88%, 65%);
}

.answer{
  font-size: 1rem;
  color: hsl(238, 29%, 16%);
  display: none;
}

.active{
  display: block;
}